.worksheet {
  table-layout: fixed;
}

.worksheet th,
.worksheet td {
  padding: 0 4px;
  border-bottom: 1px solid #dee2e6;
}

.worksheet td {
  max-width: 150px;
  text-align: right;
  overflow: hidden;
  vertical-align: middle;
  border: 1px solid #dee2e6;
}

.worksheet td.active {
  outline: 2px solid var(--blue);
  outline-offset: -1px;
}

.worksheet input {
  display: inline-block;
  width: 100%;
  padding: 0;
  border: 0;
  text-align: right;
  outline: none;
}

.worksheet div {
  cursor: default;
}
